<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RoboSpeaker</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <div class="container">
    <h1 class="glow">🤖🤖Welcome to RoboSpeaker 2.0 </h1>
    <form method="post" action="/speak">
      <input type="text" name="text" id="text-input" placeholder="Type something for me to say" required>
      <button type="submit">Speak</button>
    </form>
  <div class="developer">
    <h2 class>😊 developed by chenkham--
      <a href="https://www.instagram.com/chenkham__?igsh=MWRlZ3R1OTlmYWV6YQ==" target="_blank"><img src="../static/instagram.svg" alt="instagram" class="insta-icon">
</a>
    </h2>
  </div>

</body>
</html>
